<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ets.bfd.visitor">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ets_bfd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ets_bfd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.TourPermissionApplicationForm"
            android:exported="true" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="true"
            android:parentActivityName=".activity.OneDayTourTicket" />
        <activity android:name=".activity.DynamicTabsActivity" />
        <activity android:name=".activity.MyTicketViewActivity" />
        <activity android:name=".activity.MyTicketActivity" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BookingListActivity" />
        <activity
            android:name=".activity.ConfirmTicket"
            android:exported="true"
            android:parentActivityName=".activity.OneDayTourTicket"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.PackageDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AllPackageList"
            android:exported="true" />
        <activity
            android:name=".activity.OverNightTour"
            android:exported="true"
            android:label="Book for this package" />
        <activity
            android:name=".activity.RegistrationAndRenewApplication"
            android:exported="true" />
        <activity
            android:name=".activity.OneDayTourTicket"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".activity.DashboardActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>